<% use Glayu.EEx %>
<% front_page = pages() |> Enum.find(%{content: "", title: ""}, fn(page) -> page.path == "/index.html" end)  %>
<!-- <h1><%# front_page.title %></h1> -->
<%= front_page.content %>
